<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374717233617-mcgrtibijbe4mn0i1uaco4tmocbtjc39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374717233617-mcgrtibijbe4mn0i1uaco4tmocbtjc39</string>
	<key>API_KEY</key>
	<string>AIzaSyDXZY7mAjqDzdHMKFMI-WH0MuzR4lsq5lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>374717233617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robson.carteirada-front-end</string>
	<key>PROJECT_ID</key>
	<string>carteirada-c33f6</string>
	<key>STORAGE_BUCKET</key>
	<string>carteirada-c33f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374717233617:ios:a2d63852255ab6ecedc8f0</string>
</dict>
</plist>